@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --dark: #111;
  --light: #fffcfa;
  --main: #ff4500;
  --grey-dark: #333;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

.logo {
  font-family: 'Edu VIC WA NT Beginner', sans-serif;
}

#group-message-form {
  background: var(--main);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#group-message-input {
  background-color: var(--dark);
  color: var(--light);
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 0.25rem;
  margin: 0.25rem;
  outline: none;
}

#group-message-input:focus {
  outline: none;
}

#group-message-form button {
  background: var(--dark);
  color: var(--light);
  font-weight: 400;
  text-transform: uppercase;
  border: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
  margin: 0.25rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: color 0.5s ease-in;
}

#group-message-form button:hover {
  color: var(--main);
}